/* CSS crunched with Crunch - http://crunchapp.net/ */
.yatRow1 {
  width: 8.33333333%;
}
.yatRow2 {
  width: 16.66666667%;
}
.yatRow3 {
  width: 25%;
}
.yatRow4 {
  width: 33.33333333%;
}
.yatRow5 {
  width: 41.66666667%;
}
.yatRow6 {
  width: 50%;
}
.yatRow7 {
  width: 58.33333333%;
}
.yatRow8 {
  width: 66.66666667%;
}
.yatRow9 {
  width: 75%;
}
.yatRow10 {
  width: 83.33333333%;
}
.yatRow11 {
  width: 91.66666667%;
}
.yatRow12 {
  width: 100%;
}
